/*--------------MAIN-BEGIN--------------*/


body  {
	background-color:#ffffcc;
}


td.head  {
	font-family:Verdana,Arial;
	font-size:9pt;
	font-weight:bold;
	color:#eeeeee;
	background:#336699;
	border:1px solid #0e0e69;
}


a:link, a:visited  {
	font-family:Verdana,Arial;
	color:#000000;
	text-decoration:underline;
}

a:active  {
	font-family:Verdana,Arial;
	color:#97271f;
	text-decoration:underline;
}

a.gb:link, a.gb:visited, a.gb:active {
	font-family:Verdana,Arial;
	color:#f2d400;
	text-decoration:underline;
}

a.h3:link, a.h3:visited, a.h3:active {
	font-family:Verdana,Arial;
	font-size:10pt;
	font-weight:bold;
	color:#ffffcc;
	text-decoration:underline;
}
/*--------------MAIN-END--------------*/