/**
----------------------Start-Page---------------------
**/

#nav {
  text-align: left;
  margin-left: 0%;
  background-color: darkblue;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 120px;
}