/*place global styles here */

@font-face {
	/* Reference name */
	font-family: 'Abril Fatface';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/AbrilFatface-Regular.ttf');
}

html,
body {
	@apply h-full;
}
