vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Jul 2007 07:29:52 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|TRAVELLER\\Helmut J.F.Henze
vti_modifiedby:SR|TRAVELLER\\Helmut J.F.Henze
vti_timecreated:TR|23 Jul 2007 07:29:52 -0000
vti_backlinkinfo:VX|
vti_cacheddtm:TX|23 Jul 2007 08:29:52 -0000
vti_filesize:IR|1035
