vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|05 Nov 2010 15:19:38 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|Traveller\\Helmut J.F.Henze
vti_modifiedby:SR|SAMMLERBOX\\user
vti_timecreated:TR|11 Jul 2009 10:12:19 -0000
vti_backlinkinfo:VX|Test/4231bpz_0.htm Test/4213bpz_0.htm Test/4288bpz_0.htm Test/4283bpz_0.htm Test/4544bpz_0.htm Euro-Kat/n_toy/2004_2005/4177bpz_4k.htm Test/Test.htm Test/4215bpz_0.htm Test/VariDef.htm Test/2378bpz.htm Test/4177bpz_0.htm Test/4216bpz_0.htm Test/4233bpz_0.htm Test/4637bpz_0.htm Euro-Kat/n_toy/2004_2005/4177bpz_2k.htm Euro-Kat/n_toy/2004_2005/4177bpz_3k.htm Euro-Kat/n_toy/2004_2005/4177bpz_1k.htm Test/4571bpz_0.htm
vti_nexttolasttimemodified:TW|05 Nov 2010 14:19:35 -0000
vti_cacheddtm:TX|05 Nov 2010 15:19:38 -0000
vti_filesize:IR|2653
