/* DATEI:form_serie.css*/

body  {
	background-color:#ffffcc;
	text-align:left;
	alignment:left;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
}

h1  {
	font-family:Verdana, Arial;
	font-size:11pt;
	font-weight:bold;
	text-align:center;
	alignment:center;
	background-color:#ffe680;
	color:#000000;
	border:2px solid #ffcc00;
	padding:4px;
	width:90%;
}

h2  {
	font-family:Verdana, Arial;
	font-size:10pt;
	font-weight:bold;
	text-align:center;
	alignment:center;
	background-color:#ffe680;
	color:#000000;
	border:2px solid #ffcc00;
	padding:4px;
	width:80%;
}

h3  {
	font-family:Verdana, Arial;
	font-size:10pt;
	font-weight:bold;
	text-align:center;
	background-color:#ffe680;
	color:#000000;
	border:1px solid #ffcc00;
	padding:4px;
	width:50%;
}

table  {
	border:0px none #ffffff;
}

td  {
	font-family:Verdana,Arial;
	font-size:8pt;
	color:#000000;
}

td.head  {
	font-family:Verdana,Arial;
	font-size:9pt;
	font-weight:bold;
	color:#eeeeee;
	background:#336699;
	border:1px solid #0e0e69;
}

td.head_b  {
	font-family:Verdana,Arial;
	font-size:9pt;
	font-weight:bold;
	color:#eeeeee;
	background:#cc33ff;
	border:1px solid #0e0e69;
}

td.head_c  {
	font-family:Verdana,Arial;
	font-size:9pt;
	font-weight:bold;
	color:#eeeeee;
	background:#009933;
	border:1px solid #0e0e69;
}

td.head_d  {
	font-family:Verdana,Arial;
	font-size:9pt;
	font-weight:bold;
	color:#eeeeee;
	background:#996633;
	border:1px solid #0e0e69;
}

td.a  {
	font-family:Verdana,Arial;
	font-size:8pt;
	color:#000000;
	align:left;
	vertical-align:top;
	text-align:left;
	border:1px solid #9999aa;
	background:#eeeeff;
}

td.b  {
	font-family:Verdana,Arial;
	font-size:8pt;
	color:#000000;
	align:left;
	vertical-align:top;
	text-align:left;
	background:#ddddff;
	border:1px solid #9999aa;
}

td.pic  {
	font-family:Verdana,Arial;
	font-size:8pt;
	align:left;
	vertical-align:top;
	text-align:left;
}

td.leer {
	font-family:Verdana,Arial;
	font-size:8pt;
	color:#000000;
	border:1px solid #9999aa;
	background:#FFFFFF;
}

a:link, a:visited  {
	font-family:Verdana,Arial;
	color:#000000;
	text-decoration:underline;
}

a:active  {
	font-family:Verdana,Arial;
	color:#97271f;
	text-decoration:underline;
}

a.gb:link, a.gb:visited, a.gb:active {
	font-family:Verdana,Arial;
	color:#f2d400;
	text-decoration:underline;
}

a.h3:link, a.h3:visited, a.h3:active {
	font-family:Verdana,Arial;
	font-size:10pt;
	font-weight:bold;
	color:#ffffcc;
	text-decoration:underline;
}

div.copy  {
	font-family:Verdana,Arial;
	font-size:8pt;
	color:#7f7f7f;
	text-align:right;
}