/* DATEI:form_tab.css*/

body  {
	background-color:#ffffff;
	text-align:center;
	alignment:center;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
}

h1  {
	font-family:Verdana, Arial;
	font-size:11pt;
	font-weight:bold;
	text-align:center;
	alignment:center;
	background-color:#ffe680;
	color:#000000;
	border:2px solid #ffcc00;
	padding:4px;
	width:90%;
}

h2  {
	font-family:Verdana, Arial;
	font-size:10pt;
	font-weight:bold;
	text-align:center;
	alignment:center;
	background-color:#ffe680;
	color:#000000;
	border:2px solid #ffcc00;
	padding:4px;
	width:80%;
}

h3  {
	font-family:Verdana, Arial;
	font-size:10pt;
	font-weight:bold;
	text-align:center;
	background-color:#ffe680;
	color:#000000;
	border:1px solid #ffcc00;
	padding:4px;
	width:50%;
}

p  {
	font-family:Verdana,Arial;
	font-size:8pt;
	color:#000000;
	text-align:center;
}

p.sicht  {
	font-family:Verdana,Arial;
	font-size:9pt;
	font-weight:bold;
	color:#7f7f7f;
	text-align:center;
}

p.druck  {
	font-family:Verdana,Arial;
	font-size:8pt;
	color:#7f7f7f;
	text-align:right;
}

table  {
	border:0px none #ffffff;
}

td  {
	font-family:Verdana,Arial;
	font-size:8pt;
	color:#000000;
}

td.head  {
	font-family:Verdana,Arial;
	font-size:10pt;
	font-weight:bold;
	color:#eeeeee;
	background:#336699;
	border:1px solid #0e0e69;
}

td.a  {
	font-family:Verdana,Arial;
	font-size:8pt;
	color:#000000;
	vertical-align:middle;
	border:1px solid #9999aa;
	background:#eeeeff;
}

td.b  {
	font-family:Verdana,Arial;
	font-size:8pt;
	color:#000000;
	vertical-align:middle;
	background:#ddddff;
	border:1px solid #9999aa;
}

td.ad {
	font-family:Verdana,Arial;
	font-size:8pt;
	color:#000000;
	vertical-align:middle;
	border:1px solid #9999aa;
	background:#ffff00;
}

td.aa {
	font-family:Verdana,Arial;
	font-size:8pt;
	color:#000000;
	vertical-align:middle;
	border:1px solid #9999aa;
	background:#ff00ff;
}

td.leer {
	font-family:Verdana,Arial;
	font-size:8pt;
	color:#000000;
	vertical-align:middle;
	border:1px solid #9999aa;
	background:#FFFFFF;
}

td.box {
	font-family:Tahoma;
	font-size:8pt;
	color:#000000;
	vertical-align:middle;
	border:1px solid #9999aa;
	background:#FFFFFF;
}

td.bc {
	font-family:Verdana,Arial;
	font-size:8pt;
	color:#000000;
	alignment:center;
	text-align:center;
	vertical-align:middle;
	background:#ddddff;
	border:1px solid #9999aa;
}

td.ac {
	font-family:Verdana,Arial;
	font-size:8pt;
	color:#000000;
	alignment:center;
	text-align:center;
	vertical-align:middle;
	border:1px solid #9999aa;
	background:#eeeeff;
}

td.rechts  	{font-family:Verdana,Arial;
			font-size:8pt;
			color:#000000;
			text-align:right;}

tr.a2  {
	font-family:Verdana,Arial;
	font-size:8pt;
	font-weight:bold;
	color:#000000;
	vertical-align:middle;
	background:#f8f8ff;
}


td.ca  {
	font-family:Verdana,Arial;
	font-size:8pt;
	color:#000000;
	vertical-align:middle;
	background:#ffffdd;
	border:1px solid #9999aa;
}

td.cb  {
	font-family:Verdana,Arial;
	font-size:8pt;
	color:#000000;
	vertical-align:middle;
	background:#ffffee;
	border:1px solid #9999aa;
}

td.lil  {
	font-family:Verdana,Arial;
	font-size:8pt;
	color:#000000;
	vertical-align:top;
	padding-top:0mm;
}

td.lir  {
	font-family:Verdana,Arial;
	font-size:8pt;
	color:#000000;
	text-align:right;
	vertical-align:top;
	padding-top:0mm;
	border-style:none;
}

th  {
	font-family:Verdana,Arial;
	font-size:11pt;
	color:#97271f;
	vertical-align:middle;
}

a:link, a:visited  {
	font-family:Verdana,Arial;
	color:#000000;
	text-decoration:underline;
}

a:active  {
	font-family:Verdana,Arial;
	color:#97271f;
	text-decoration:underline;
}

a.gb:link, a.gb:visited, a.gb:active {
	font-family:Verdana,Arial;
	color:#f2d400;
	text-decoration:underline;
}

a.h3:link, a.h3:visited, a.h3:active {
	font-family:Verdana,Arial;
	font-size:10pt;
	font-weight:bold;
	color:#ffffcc;
	text-decoration:underline;
}

div.copy  {
	font-family:Verdana,Arial;
	font-size:8pt;
	color:#7f7f7f;
	text-align:right;
}