/*place global styles here */

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full;
}

@font-face {
	font-family: 'Abril Fatface';
	src: url('/fonts/AbrilFatface.ttf');
	font-display: swap;
}
